<div class="toolbar" role="banner">
  <a routerLink="/" routerLinkActive="active">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </a>
  <span>Welcome</span>
</div>

<div class="content" role="main">
  <h4>Choose currency</h4>
  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select
      [(value)]="selectedCurrency"
      (selectionChange)="loadCurrencyRange(selectedCurrency)"
    >
      <mat-option *ngFor="let currency of getCurrencyList()" [value]="currency.code">
        {{currency.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-tab-group>
    <mat-tab label="Table">
      <app-table
        [currencyRange]="getCurrencyRecords()"
      ></app-table>
    </mat-tab>
    <mat-tab label="Chart">
      <app-chart
        *ngIf="getCurrencyRange()"
        [chartData]="getAllValues()"
        [chartLabels]="getAllDates()"
        [currentCurrency]="findCurrencyLabel(selectedCurrency)"
      ></app-chart>
    </mat-tab>
  </mat-tab-group>
</div>

<router-outlet></router-outlet>